@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  --tw-text-opacity: 1;
  color: rgb(244 244 245 / var(--tw-text-opacity));
}

body {
  --tw-bg-opacity: 1;
  background-color: rgb(9 9 11 / var(--tw-bg-opacity));
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #09090b;
}

body::-webkit-scrollbar-thumb {
  background-color: #18181b;
  border-radius: 20px;
  border: 1px solid #27272a;
}

input {
  background: none;
}